.profileCard {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: rgba(46, 57, 69, 0.2) 0px 8px 24px;
  background-color: #fff;
  width: 400px;
}
.description {
  text-align: center;
}

.avatar {
  width: 200px;
  margin-top: 20px;
  border: 2px solid rgba(185, 185, 185, 0.3);
  border-radius: 50%;
}

.name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}

.tag {
  color: rgba(120, 120, 120, 0.7);
  margin-bottom: 5px;
  font-size: 24px;
}

.location {
  color: rgba(120, 120, 120, 0.7);
  margin-bottom: 20px;
  font-size: 24px;
}

.stats {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.statsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 100px;
  background-color: rgba(217, 217, 217, 0.496);
}

.statsItem + .statsItem {
  border-left: solid 1px rgb(216, 216, 216);
}

.label {
  font-size: 20px;
  color: rgba(120, 120, 120, 0.7);
}

.quantity {
  font-size: 24px;
  font-weight: 700;
}
