.statistics {
  margin: 0 auto;
  margin-top: 20px;
  width: 400px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: rgba(46, 57, 69, 0.2) 0px 8px 24px;
  background-color: #fff;
}

.title {
  color: rgba(78, 78, 78, 0.7);
  padding: 10px;
  font-size: 28px;
  text-transform: uppercase;
}

.statList {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  gap: 20px;
}

.label {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.percentage {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
