.transactionHistory {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  width: 400px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(46, 57, 69, 0.2) 0px 8px 24px;
  background-color: #fff;
}
.head {
  text-transform: uppercase;
  font-size: 20px;
  background-color: rgba(84, 173, 255, 0.6);
}

.cell {
  width: 100px;
  padding: 10px 0;
  border: none;
}

.row {
  border: none;
}

.row:nth-child(even) {
  background-color: rgb(231, 231, 231);
}
